
        <%# s3_uploader_form id:"s3_uploader",
                             callback_url: s3_upload_callback_url,
                             callback_param:"file[file_url]",
                             expiration: 24.hours.from_now.utc.iso8601,
                             max_file_size: 100.megabytes do %>


                  <%# file_field_tag :file, multiple: true %>

                  <!--<div class="upload js-progress-bars">-->
                    <!--<div class="progress">-->
                      <!--<div class="bars"> </div>-->
                    <!--</div>-->
                  <!--</div>-->

        <%# end %>


        <%= s4_uploader_form callback_url: s3_upload_callback_url, callback_param: "file[file_url]", id: "s3_uploader" do %>
            <%# file_field_tag :file, multiple: true %>
        <% end %>

        <%= 1+1 %>


        <script id="template-upload" type="text/x-tmpl">
            <div id="file-{%=o.unique_id%}" class="upload">
              {%=o.name%}
              <div class="progress"><div class="bar" style="width: 0%"></div></div>
            </div>
        </script>